<footer id="footer">
  <div class="inner">
    <ul class="icons">
      <li><a href="https://github.com/vandersonmr" class="icon fa-github"><span class="label">Github</span></a></li>
      <li><a href="https://www.linkedin.com/in/vandersonrosario" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
      <li><a href="https://www.facebook.com/vandersonmr" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://twitter.com/vandersonmr_" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
    </ul>
  </div>
</footer>
